*.exe
*.o
*.d
*.out
html
latex
data/out*
data/mesh
log*.txt
*.lnk
Eigen
unsupported
rapidjson
fmt
perf.data*
syncgs.sh
pulldata.sh
*.msh
~*
*.ppt*
*.doc*
*.pdf*
*.log
*.tmp
*.zip
*.tar
*.gz
Makefile.arc.in
running
build
*.png
*.jpg
*.bmp
*.gif

